<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Analysis</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <h2 class="text-center">File Analysis</h2>
        <div class="alert alert-info">
            <p th:text="${analysisResult}"></p>
        </div>
        <a href="/images" class="btn btn-primary">Back to Files</a>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>
